@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

:root {
  --dark: #0b0b0b;
  --mid: #fb59e1;
  --light: #f9f9f9;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

.material-symbols-outlined {
  color: var(--dark);
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--dark);
  background-color: var(--light);
  margin-inline: 12rem;
}

nav {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--light);
}

.navigation {
  list-style: none;
  display: flex;
  padding-block: 1.25rem;
  justify-content: center;
  gap: 3rem;
  border-bottom: 1px solid var(--dark);
}

.navigation__link {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: var(--dark);
}

.navigation__link_active {
  font-weight: 800;
}

img {
  width: 428px;
  height: auto;
}

#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#home > div {
  display: flex;
  flex-direction: column;
}

#home img {
  height: 70%;
  width: auto;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

p {
  line-height: 1.75rem;
}

.shortcut {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 800;
  color: var(--dark);
  background-color: var(--mid);
  padding: 1.25rem;
  border-radius: 4rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.shortcut_secondary {
  font-weight: 400;
  background-color: transparent;
  border: 1px solid var(--dark);
}

#about > h2 {
  margin-bottom: 0.5rem;
}

#about > p {
  width: 50%;
  margin-bottom: 1.5rem;
}

#about > div {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.card {
  border: 1px solid var(--dark);
  padding: 1rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 800;
}

.card__caption {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.card__image {
  width: 300px;
  height: auto;
}

footer {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: var(--light);
  border-top: 1px solid var(--dark);
  padding: 2rem 12rem 3rem 12rem;
}

footer > p {
  font-size: 0.875rem;
}

footer > div {
  display: flex;
  justify-content: space-between;
}

footer > div > p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
